[Unit]
Description=P2P Tools service min

[Service]
ExecStart=/usr/bin/java -jar /opt/sparse/sparse-min-app.war --spring.config.location=/opt/sparse-min/config/application.properties
SuccessExitStatus=143
TimeoutStopSec=2
User=sparse-min

[Install]
WantedBy=multi-user.target
